body {
  background-image: url(que.jpeg);
  background-repeat: no-repeat;
  background-size: 2500px;
  align-content: center;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  width: 500px;
  text-align: center;
  padding-bottom: 25px;
  margin-bottom: 50px;
}

.jumbotron {
  color: white;
  text-align: center;
  padding-bottom: 25px;
}

.submit {
  align-content: center;
}
